<div class="layout">
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica1'"></app-grafica>
    </div>
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica2'"></app-grafica>
    </div>
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica3'"></app-grafica>
    </div>
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica4'"></app-grafica>
    </div>

    <div class="nosemanda">
        <app-grafica [nombre]="'grafica5'"></app-grafica>
    </div>

    <div class="nosemanda">
        <app-grafica [nombre]="'grafica6'"></app-grafica>
    </div>

    <div class="nosemanda">
        <app-grafica [nombre]="'grafica7'"></app-grafica>
    </div>
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica8'"></app-grafica>
    </div>
    <div class="nosemanda">
        <app-grafica [nombre]="'grafica9'"></app-grafica>
    </div>
</div>
