<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Roles</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                    <i class="bi bi-search"></i>
                </div>
                <input class="form-control ps-5" type="text" placeholder="search" />
            </form>
            <div class="col-6">
                <button data-toggle="modal" data-target="#modalUsuarioRoles" type="button" class="btn btn-success px-5">
                    Agregar
                </button>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rolu of roles">
                        <td>{{ rolu.id }}</td>
                        <td>{{ rolu.nombre }}</td>

                        <td>
                            <button
                                data-toggle="modal"
                                data-target="#modalUsuarioRoles"
                                type="button"
                                class="btn btn-secondary"
                            >
                                Editar
                            </button>
                        </td>

                        <td>
                            <button
                                data-toggle="modal"
                                data-target="#modalRemoverConfirmacionUsuarioRoles"
                                type="button"
                                class="btn btn-danger"
                                (click)="rol = rolu; mensaje = ''"
                            >
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="modalUsuarioRoles" class="modal fade" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulario Usuarios Roles</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioRoles" class="row g-3" *ngIf="!banderaCargando && !mensaje">
                    <input hidden type="text" class="form-control" formControlName="id" />

                    <div class="col-12">
                        <label for="formularioUsuarioId" class="form-label">Nombre</label>
                        <input id="formularioUsuarioId" type="text" class="form-control" formControlName="nombre" />
                        <span *ngIf="campoNoesValido('nombre')" class="form-text text-danger">Es requerido</span>
                    </div>
                </form>

                <div *ngIf="banderaCargando">
                    <div class="spinner"></div>
                </div>

                <div *ngIf="!banderaCargando && mensaje">
                    <p>{{ mensaje }}</p>
                    <div *ngIf="rol">
                        {{ rol | json }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" *ngIf="!rol" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" *ngIf="!rol" (click)="guardarNuevoRol()">Crear</button>
                <button type="button" class="btn btn-primary" *ngIf="rol" (click)="cerrarModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div
    id="modalRemoverConfirmacionUsuarioRoles"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulario Usuarios Roles</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row g-3" *ngIf="!banderaCargando && !mensaje">
                    <div class="col-12">
                        <p>¿Esta seguro que desea remover el rol?</p>
                    </div>
                </div>

                <div *ngIf="banderaCargando">
                    <div class="spinner"></div>
                </div>

                <div *ngIf="!banderaCargando && mensaje">
                    <p>{{ mensaje }}</p>
                    <p *ngIf="error">{{ error | json }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" *ngIf="rol" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" *ngIf="rol" (click)="removerUsuarioRol()">Remover</button>
                <button type="button" class="btn btn-primary" *ngIf="!rol" (click)="cerrarModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
