<div *ngIf="estilo == 1" class="col-12 row d-flex align-content-center justify-content-center">
    <div class="col-6 row d-flex align-content-center">
        <p class="indices">Mostrando {{ indiceInicial }} a {{ indiceFinal }} de {{ arrayInfo.length }} registros</p>
    </div>

    <div class="col-6 row d-flex align-content-end justify-content-end">
        <ul class="pagination d-flex align-content-end justify-content-end">
            <li class="page-item" [class.disabled]="paginaActual === 1">
                <a class="page-link" (click)="onPreviousPage(1)">Anterior</a>
            </li>

            <li class="page-item excluir">
                <a class="page-link"> {{ paginaActual }} / {{ paginaMaxima }}</a>
            </li>

            <li class="page-item" [class.disabled]="paginaActual === paginaMaxima">
                <a class="page-link" (click)="onNextPage(1)">Siguiente</a>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="estilo == 2" class="col-12 row d-flex align-content-center justify-content-center">
    <div class="col-4 row d-flex align-content-center">
        <p class="indices">Mostrando {{ indiceInicial }} a {{ indiceFinal }} de {{ arrayInfo.length }} registros</p>
    </div>

    <div class="col-8 row d-flex align-content-end justify-content-end">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="paginaActual == 1">
                <a class="page-link" tabindex="-1" (click)="onPreviousPage(1)"> Anterior </a>
            </li>

            <li class="page-item" id="paginaInicial" *ngIf="paginaActual > 2 && paginaMaxima > 3">
                <a class="page-link" (click)="onFirstPage()"> {{ paginaMinima }} </a>
            </li>

            <li
                class="page-item disabled dot-pagination puntitos"
                id="paginaPuntoInicial"
                *ngIf="paginaActual > 2 && paginaMaxima > 3"
            >
                <i class="ri-checkbox-blank-circle-fill iconoFlotante"></i>
            </li>

            <li class="page-item" (click)="onPreviousPage(2)" *ngIf="currentPage == paginaMaxima && paginaMaxima > 2">
                <a class="page-link"> {{ currentPage - 2 }}</a>
            </li>

            <li class="page-item" (click)="onPreviousPage(1)" *ngIf="currentPage - 1 >= paginaMinima">
                <a class="page-link"> {{ currentPage - 1 }}</a>
            </li>

            <li class="page-item active">
                <a class="page-link">{{ currentPage }}</a>
            </li>

            <li class="page-item" (click)="onNextPage(1)" *ngIf="currentPage + 1 <= paginaMaxima">
                <a class="page-link"> {{ currentPage + 1 }}</a>
            </li>

            <li class="page-item" (click)="onNextPage(2)" *ngIf="currentPage == paginaMinima && paginaMaxima > 2">
                <a class="page-link"> {{ currentPage + 2 }}</a>
            </li>

            <li
                class="page-item disabled dot-pagination puntitos"
                id="paginaPuntoFinal"
                *ngIf="paginaActual != paginaMaxima && paginaMaxima > 3 && paginaActual != paginaMaxima - 1"
            >
                <i class="ri-checkbox-blank-circle-fill iconoFlotante"></i>
            </li>

            <li
                class="page-item"
                id="paginaFinal"
                *ngIf="paginaActual != paginaMaxima && paginaMaxima > 3 && paginaActual != paginaMaxima - 1"
            >
                <a class="page-link" (click)="onLastPage()">
                    {{ paginaMaxima }}
                </a>
            </li>

            <li class="page-item" id="paginaFinal" [class.disabled]="paginaActual == paginaMaxima">
                <a class="page-link" tabindex="-1" (click)="onNextPage(1)">Siguiente</a>
            </li>
        </ul>
    </div>
</div>
