<!--start sidebar -->
<aside
    class="sidebar-wrapper"
    [class]="clase"
    (mouseenter)="expandOnlyExpandisFalse()"
    (mouseleave)="reduceOnlyExpandisFalse()"
>
    <div class="sidebar-header">
        <div>
            <img src="../../../assets/images/logo-icon.png" class="logo-icon" alt="logo icon" />
        </div>
        <div>
            <h4 class="logo-text">Onedash</h4>
        </div>
        <div class="toggle-icon ms-auto" (click)="toggleExpandSidebar()">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <!--navigation-->

    <ul class="metismenu">
        <li *ngFor="let rutaGe of rutaListaHTML" appSidebarSelection>
            <a class="has-arrow">
                <div class="parent-icon">
                    <i class="ri-1x {{ rutaGe.categoria_icono }}"></i>
                </div>

                <div class="menu-title">{{ rutaGe.categoria_titulo }}</div>
            </a>
            <ul class="sub-menu">
                <li *ngFor="let ruta of rutaGe.rutas">
                    <a [routerLink]="[rutaGe.categoria_ruta, ruta.ruta_ruta]">
                        <i class="ri-1x {{ ruta.ruta_icono }}"></i>{{ ruta.ruta_titulo }}</a
                    >
                </li>
            </ul>
        </li>

        <!--
        <li>
            <a>
                <div class="parent-icon"><i class="bi bi-file-code-fill"></i></div>
                <div class="menu-title">Documentation</div>
            </a>
        </li>
        <li>
            <a href="https://themeforest.net/user/codervent" target="_blank">
                <div class="parent-icon"><i class="bi bi-telephone-fill"></i></div>
                <div class="menu-title">Support</div>
            </a>
        </li> -->
    </ul>
    <!--end navigation-->
</aside>
<!--end sidebar -->
