<!--start wrapper-->
<div class="wrapper" [class.toggled]="!sidebarExpand">
    <!--start top header-->
    <app-header [sidebarExpand]="sidebarExpand"></app-header>
    <!--end top header-->

    <!--start sidebar -->
    <app-sidebar [sidebarExpand]="sidebarExpand" (expandToggled)="sidebarExpandMethod($event)"></app-sidebar>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <app-breadcrumb></app-breadcrumb>
        <!--end breadcrumb-->

        <router-outlet></router-outlet>
    </main>
    <!--end page main-->

    <!-- Modales para interceptores -->
    <app-modals></app-modals>
    <!-- Modales para interceptores -->
</div>
<!--end wrapper-->
