<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Rutas Categorias</h5>
    </div>

    <div class="card-body">
        <div class="d-flex align-items-center">
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3">
                    <i class="bi bi-search"></i>
                </div>
                <input class="form-control ps-5" type="text" placeholder="search" />
            </form>

            <div class="col-6">
                <button
                    (click)="banderaCrear = true; abrirModalFormulario()"
                    type="button"
                    class="btn btn-success px-5"
                >
                    Agregar
                </button>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>Id</th>
                        <th>Orden</th>
                        <th>Titulo</th>
                        <th>Ruta</th>
                        <th>Icono</th>
                        <th>Color Principal</th>
                        <th>Color Secundario</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rutaCategoria of rutasCategoriasMostrar">
                        <td>{{ rutaCategoria.id }}</td>
                        <td>{{ rutaCategoria.orden }}</td>
                        <td>{{ rutaCategoria.titulo }}</td>
                        <td>{{ rutaCategoria.ruta }}</td>
                        <td>{{ rutaCategoria.icono }}</td>
                        <td>{{ rutaCategoria.color_1 }}</td>
                        <td>{{ rutaCategoria.color_2 }}</td>
                        <td>
                            <button
                                (click)="
                                    banderaCrear = false;
                                    rutaCategoriaSeleccionada = rutaCategoria;
                                    abrirModalFormulario()
                                "
                                type="button"
                                class="btn btn-secondary"
                            >
                                Editar
                            </button>
                        </td>

                        <td>
                            <button
                                type="button"
                                class="btn btn-danger"
                                (click)="
                                    rutaCategoriaSeleccionada = rutaCategoria;
                                    abrirModalConfirmacionRemover();
                                    mensaje = ''
                                "
                            >
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <app-pagination
            [arrayInfo]="rutasCategorias"
            [itemsPerPage]="12"
            [paginaActual]="1"
            [estilo]="1"
            (changePage)="pagination($event)"
        ></app-pagination>
    </div>
</div>

<!-- Modal HTML -->
<div
    id="modalRutasCategorias"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulario Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioRutaCategorias" class="row g-3" *ngIf="!banderaCargando && !mensaje">
                    <input hidden type="text" class="form-control" formControlName="id" />

                    <div class="col-12">
                        <label for="formularioRutaCategoriaTitulo" class="form-label">Titulo</label>
                        <input
                            id="formularioRutaCategoriaTitulo"
                            type="text"
                            class="form-control"
                            formControlName="titulo"
                        />
                        <span *ngIf="campoNoesValido('titulo')" class="form-text text-danger">Es requerido</span>
                    </div>

                    <div class="col-12">
                        <label for="formularioRutaCategoriaRuta" class="form-label">Ruta</label>
                        <input
                            id="formularioRutaCategoriaRuta"
                            type="text"
                            class="form-control"
                            formControlName="ruta"
                        />
                        <span *ngIf="campoNoesValido('ruta')" class="form-text text-danger">Es requerido</span>
                    </div>

                    <div class="col-12">
                        <label for="formularioRutaCategoriaIcono" class="form-label">Icono</label>
                        <input
                            id="formularioRutaCategoriaIcono"
                            type="text"
                            class="form-control"
                            formControlName="icono"
                        />
                        <span *ngIf="campoNoesValido('icono')" class="form-text text-danger">Es requerido</span>
                    </div>

                    <div class="col-12">
                        <label for="formularioRutaCategoriaColor1" class="form-label">Color 1</label>
                        <input
                            id="formularioRutaCategoriaColor1"
                            type="text"
                            class="form-control"
                            formControlName="color_1"
                        />
                        <span *ngIf="campoNoesValido('color_1')" class="form-text text-danger">Es requerido</span>
                    </div>

                    <div class="col-12">
                        <label for="formularioRutaCategoriaColor2" class="form-label">Color 2</label>
                        <input
                            id="formularioRutaCategoriaColor2"
                            type="text"
                            class="form-control"
                            formControlName="color_2"
                        />
                        <span *ngIf="campoNoesValido('color_2')" class="form-text text-danger">Es requerido</span>
                    </div>

                    <div class="col-12">
                        <label for="formularioRutaCategoriaOrden" class="form-label">Orden</label>
                        <input
                            id="formularioRutaCategoriaOrden"
                            type="text"
                            class="form-control"
                            formControlName="orden"
                        />
                        <span *ngIf="campoNoesValido('orden')" class="form-text text-danger">Es requerido</span>
                    </div>
                </form>

                <div *ngIf="banderaCargando">
                    <div class="spinner"></div>
                </div>

                <div *ngIf="!banderaCargando && mensaje">
                    <p>{{ mensaje }}</p>
                    <div *ngIf="rutaCategoriaCreadaActualizada">
                        {{ rutaCategoriaCreadaActualizada | json }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    *ngIf="!rutaCategoriaCreadaActualizada"
                    data-dismiss="modal"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    *ngIf="!rutaCategoriaCreadaActualizada"
                    (click)="btnGuardarActualizar()"
                >
                    Save
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    *ngIf="rutaCategoriaCreadaActualizada"
                    (click)="cerrarModal()"
                >
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<div
    id="modalRemoverConfirmacionRutasCategorias"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulario Usuarios Roles</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row g-3" *ngIf="!banderaCargando && !mensaje">
                    <div class="col-12">
                        <p>¿Esta seguro que desea remover la ruta categoria?</p>
                    </div>
                </div>

                <div *ngIf="banderaCargando">
                    <div class="spinner"></div>
                </div>

                <div *ngIf="!banderaCargando && mensaje">
                    <p>{{ mensaje }}</p>
                    <p *ngIf="error">{{ error | json }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" *ngIf="!mensaje" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" *ngIf="!mensaje" (click)="removerRutaCategoria()">
                    Remover
                </button>
                <button type="button" class="btn btn-primary" *ngIf="mensaje" (click)="cerrarModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
